<h6 style="margin-top:10px;text-align:center" class="text-white">View Options</h6>
<div class="form-group" style="padding-left:14px">
    <label class="control-label">View Type</label>
    <select class="form-control form-control-sm" id="viewTypeSelect">
        <option value="view">View</option>
        <option value="layout">View Layout</option>
    </select>
</div>
<div class="form-group" style="padding-left:14px" id="viewLayoutForm">
    <label class="control-label">View Layout</label>
    <select class="form-control form-control-sm" id="layoutSelect">
        <option value="Default">Default</option>
    </select>
</div>
<div class="form-group" style="padding-left:14px" id="viewLayoutLink">
    <label class="control-label">View Layout</label>
    <a class="form-control form-control-sm bg-primary text-white" id="viewLayoutLinkAnchor">
        <i class="fas fa-arrow-alt-circle-right" style="margin-right:8px"></i><span id="layoutLinkName"></span>
    </a>
</div>
<div class="form-group" style="padding-left:14px" id="viewRouteForm">
    <label class="control-label">View Route</label>
    <input class="form-control form-control-sm" placeholder="Enter view hash route..." id="viewRoute" />
</div>
<div class="form-group" style="padding-left:14px" id="layoutElementForm">
    <label class="control-label">Layout Element</label>
    <input class="form-control form-control-sm" placeholder="Enter the id of the layouts element..." id="layoutElement" />
</div>
<div class="form-group" style="padding-left:14px">
    <hr />
    <button class="btn btn-primary btn-sm" style="width:100%" id="linkViewBtn">Link View To Index</button>
    <hr />
    <button class="btn btn-primary btn-sm" style="width:100%" id="unLinkViewBtn">Unlink View</button>
</div>
<div class="form-group" style="padding-left:14px" id="dependantViews">
    <label class="control-label">Dependant Views</label>
    <ul class="list-group" style="padding-bottom:8px;padding-top:8px">
        <li class="list-group-item list-group-item-dark" id="dependantLink">
            <a href="#" id="dependantLinkAnchor">one</a>
        </li>
    </ul>
</div>