<div class="h-100 d-flex" style="flex-direction:column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">WillCore.UI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" name="createFolder" id="linkView" style="cursor:pointer">Link View</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" name="createLayout" id="linkLayout" style="cursor:pointer">Set As Layout</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" name="createFolder" id="selectLayout" style="cursor:pointer">Select View Layout</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="border-bottom:1px;border-bottom-style:solid;margin: 0px;">
            <li class="breadcrumb-item" id="routeBreadCrumb"><a id="routeBreadCrumbLink"></a></li>
        </ol>
    </nav>
    <div class="container-fluid bg-dark" style="display:flex; flex:1;flex-direction:row;padding-left:0px" id="mainViewContainer">

    </div>
</div>
<div id="inputModal"></div>