<div style="width:100px">
    <ul class="nav flex-column nav-dark" style="text-align:center;font-size:12px">
        <li class="nav-item bg-primary" style="margin-right:0px;margin-bottom:1px">
            <a class="nav-link text-white" href="#"><i class="fas fa-play" style="margin-right:6px;width:100%"></i>Run</a>
        </li>
        <li class="nav-item bg-primary" style="margin-right:0px;margin-bottom:1px">
            <a class="nav-link text-white" name="saveFile" id="saveFileBtn" style="cursor:pointer"><i class="fas fa-save" style="margin-right:6px;width:100%"></i>Save</a>
        </li>
        <li class="nav-item bg-primary" style="margin-right:0px;margin-bottom:1px">
            <a class="nav-link text-white" href="#"><i class="fas fa-undo" style="margin-right:6px;width:100%"></i>Undo</a>
        </li>
        <li class="nav-item bg-primary" style="margin-right:0px">
            <a class="nav-link text-white" href="#"><i class="fas fa-redo" style="margin-right:6px;width:100%"></i>Redo</a>
        </li>
    </ul>
    <h6 style="margin-top:10px;text-align:center" class="text-white" id="viewModulesLabel">View Modules</h6>
    <ul class="nav flex-column nav-dark" style="text-align:center;font-size:12px" id="viewModuleLinks">
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="htmlModuleLink" id="htmlModuleLink" style="cursor:pointer"><i class="fas fa-code" style="width:100%"></i>HTML</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="collectionsModuleLink" id="collectionsModuleLink" style="cursor:pointer"><i class="fas fa-layer-group" style="width:100%"></i>Collections</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="bindingsModuleLink" style="cursor:pointer" id="bindingsModuleLink"><i class="fas fa-link" style="width:100%"></i>Bindings</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="eventsModuleLink" id="eventsModuleLink" style="cursor:pointer"><i class="fas fa-mouse" style="width:100%"></i>Events</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="targetsModuleLink" id="targetsModuleLink" style="cursor:pointer"><i class="fas fa-dot-circle" style="width:100%"></i>Targets</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="sourcesModuleLink" id="sourcesModuleLink" style="cursor:pointer"><i class="fas fa-database" style="width:100%"></i>Sources</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="logicModuleLink" id="logicModuleLink" style="cursor:pointer"><i class="fas fa-brain" style="width:100%"></i>Logic</a>
        </li>
        <li class="nav-item bg-primary" style="margin-bottom:1px">
            <a class="nav-link text-white" name="serverModuleLink" id="serverModuleLink" style="cursor:pointer"><i class="fas fa-server" style="width:100%"></i>Server</a>
        </li>
    </ul>
</div>
<div style="flex:1" id="editor">

</div>
<div style="width:200px">
    <h6 style="margin-top:10px;text-align:center" class="text-white">View Options</h6>
    <div class="form-group" style="padding-left:14px">
        <label class="control-label">View Type</label>
        <select class="form-control form-control-sm" id="viewTypeSelect">
            <option value="view">View</option>
            <option value="partial">Partial View</option>
            <option value="layout">View Layout</option>
        </select>
    </div>
    <div class="form-group" style="padding-left:14px" id="viewLayoutForm">
        <label class="control-label">View Layout</label>
        <select class="form-control form-control-sm">
            <option>Default</option>
            <option>Partial View</option>
            <option>View Layout</option>
        </select>
    </div>
    <div class="form-group" style="padding-left:14px" id="viewRouteForm">
        <label class="control-label">View Route</label>
        <input class="form-control form-control-sm" placeholder="Enter view hash route..." />
    </div>
    <div class="form-group" style="padding-left:14px" id="layoutElementForm">
        <label class="control-label">Layout Element</label>
        <input class="form-control form-control-sm" placeholder="Enter the id of the layouts element..." />
    </div>
    <div class="form-group" style="padding-left:14px">
        <hr />
        <button class="btn btn-primary btn-sm" style="width:100%" id="linkViewBtn">Link View To Index</button>
    </div>
</div>