    <div class="bg-light" style="width:300px">
        <div class="card h-100">
            <div class="card-header">
                Components
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" style="display:inline-flex">
                        <input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />HTML</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Collections</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Bindings</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Events</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Sources</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Targets</a>
                    <a href="#" class="list-group-item list-group-item-action" style="display:inline-flex"><input type="checkbox" style="width: 20px;height: 20px;margin-right: 8px;" />Server</a>
                </div>
            </div>
        </div>
    </div>
    <div style="flex:1">

    </div>
