<div style="width:100px">
    <ul class="nav flex-column nav-dark" style="text-align:center;font-size:12px">
        <li class="nav-item bg-primary" style="margin-right:0px;margin-bottom:1px">
            <a class="nav-link text-white" name="saveFile" id="saveFileBtn" style="cursor:pointer"><i class="fas fa-save" style="margin-right:6px;width:100%"></i>Save</a>
        </li>
        <li class="nav-item bg-primary" style="margin-right:0px;margin-bottom:1px">
            <a class="nav-link text-white" href="#"><i class="fas fa-undo" style="margin-right:6px;width:100%"></i>Undo</a>
        </li>
        <li class="nav-item bg-primary" style="margin-right:0px">
            <a class="nav-link text-white" href="#"><i class="fas fa-redo" style="margin-right:6px;width:100%"></i>Redo</a>
        </li>
    </ul>
</div>
<monaco-editor style="flex:1" id="editor"></monaco-editor>
